//colors
$background-color: hsl(248, 15%, 11%);
$dark-gray: hsl(248, 10%, 15%);
$middle-gray: hsl(251, 9%, 53%);
$light-gray: hsl(242, 11%, 91%);

$green: hsl(127, 100%, 82%);
$red: hsl(0, 91%, 63%);
$orange: hsl(13, 95%, 66%);
$yellow: hsl(42, 91%, 68%);

$heading-font-size-L: 32px;
$heading-font-size-M: 24px;
$heading-font-size-S: 18px;

* {
  all: none;
  background-color: $background-color;
  font-family: "JetBrains Mono", monospace;
}

.main-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h3 {
  color: $middle-gray;
  margin: unset;
  margin-top: 3em;
  font-size: $heading-font-size-S;
}

//Password
.pwd-container {
  background-color: $dark-gray;
  width: 400px;
  height: 600px;
  align-items: center;
  margin: unset;
}

.container-generated-pwd {
  background-color: $dark-gray;
  font-weight: bolder;
  color: $middle-gray;
  letter-spacing: 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.generated-pwd {
  color: $light-gray;
  background-color: $dark-gray;
  font-size: $heading-font-size-M;
  justify-content: space-between;
}

.icon-copy {
  background-color: $dark-gray;
  color: $green;
  font-size: $heading-font-size-M;
  display: flex;
}

//Slider
.pwd-parameters {
  background-color: $dark-gray;
}

.pwd-parameters-visable p {
  background-color: $dark-gray;
}

#slider {
  height: 1em;
}

.pwd-button button {
  background-color: $green;
}

.pwd-parameters-length-slider {
  background-color: $dark-gray;
}

.pwd-settings-checkbox {
  background-color: $dark-gray;
}

.pwd-setting-uppercase,
.pwd-setting-lowercase,
.pwd-setting-numbers,
.pwd-setting-symbols,
.checkbox,
.lable-name,
.strength-container,
.pwd-button {
  background-color: $dark-gray;
}

.lable-name {
  color: $light-gray;
}

.pwd-strength {
  background-color: $dark-gray;
  display: flex;
  justify-content: center;
}

.strenght-text {
  background-color: $background-color;
  width: 80%;
  color: $middle-gray;
}

.pwd-button {
  display: flex;
  justify-content: center;
}

button {
  width: 80%;
}
